<h1>Pokedex</h1>

<table id="pokedexTable"> 
    <thead>
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th>delete</th>
        </tr>
    </thead>

    <tbody>
        {{#each data}}
        <tr data-value={{this.pokedexID}}>
            <td>{{this.pokedexID}}</td>
            <td>{{this.pname}}</td>
            <td>{{this.ptype}}</td>
            <td>{{this.regionID}}</td>
            <td><button onclick="deletePokemon({{this.pokedexID}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>

{{!-- Form to add pokemon to the pokedex --}}
<h2>Add Pokemon</h2>
<p>Discovered a new pokemon? Well add it to our database</p>
<form id="addpokedex">
    <label for="pnameInput"> Pokemon Name: </label>
    <input type="text" name="pnameInput" id="pnameInput">

    <label for="ptypeInput"> Pokemon Type: </label> 
    <select name="ptypeInput" id="ptypeInput">
        <option value="">Select types</option>
        {{#each types}}
        <option value="{{this.id}}">{{this.type1}} {{this.type2}}</option>
        {{/each}}
    </select>

    <label for="regionInput"> Region ID: </label> 
    <select name="regionInput" id="regionInput">
        <option value="">Select regions</option>
        {{#each regions}}
        <option value="{{this.id}}">{{this.region1}} {{this.region2}}</option>
        {{/each}}
    </select>

    <input type="submit">
</form>

{{!-- this is our java to handle the DOM manimplation and AJAX request --}}
<script src="./js/addpokedex.js"></script>
<script src="./js/deletepokedex.js"></script>