<h1>Pokedex</h1>

{{!-- <html>
    <body>
        <a href="/">Pokedex</a>
        <a href="/trainer">Trainer</a>
        <a href="/trainerHas">Trainer Has</a>
        <a href="/type"> Type</a>
        <a href="/region"> Region</a>
    </body>
</html> --}}

<table id="pokedexTable"> 
    <thead>
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    <tbody>
        {{#each data}}
        <tr>
            <td>{{this.pokedexID}}</td>
            <td>{{this.pname}}</td>
            <td>{{this.ptype}}</td>
            <td>{{this.regionID}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

{{!-- Form to add pokemon to the pokedex --}}
<h2>Add Pokemon</h2>
<p>Discovered a new pokemon? Well add it to our database</p>
<form id="addpokdex">
    <label for="pnameInput"> Pokemon Name: </label>
    <input type="text" name="pnameInput" id="pnameInput">

    <label for="ptypeInput"> Pokemon Type: </label> 
    <input type="number" name="ptypeInput" id="ptypeInput">

    <label for="regionInput"> Region ID: </label> 
    <input type="number" name="regionInput" id="regionInput">

    <input type="submit">
</form>

{{!-- this is our java to handle the DOM manimplation and AJAX request --}}
<script src="./js/addpokedex.js"></script>