<h1>The trainers!</h1>

<table id="trainerTable"> 
    <thead>
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    <tbody>
        {{#each data}}
        <tr>
            <td>{{this.trainerID}}</td>
            <td>{{this.tname}}</td>
            <td>{{this.wins}}</td>
            <td>{{this.losses}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

<h2>Add Trainer</h2>
<p>Just started training? Add yourself and your stats</p>
<form id="addtrainer">
    <label for="tnameInput">Name: </label>
    <input type="text" name="tnameInput" id="tnameInput">

    <label for="winsInput">Wins: </label>
    <input type="text" name="winsInput" id="winsInput">

    <label for="lossesInput">Losses: </label>
    <input type="text" name="lossesInput" id="lossesInput">

    <input type="submit">
</form>

<script src="./js/addtrainer.js"></script>